<div style="width: 500px; margin: auto;">
  <div id="label-area" style="display: flex; flex-direction: row; justify-content: space-evenly; padding: 2.5% 0;">
    <div class="btn btn-lg btn-primary" id="btn-class-1">1</div>
    <div class="btn btn-lg btn-success" id="btn-class-2">2</div>
    <div class="btn btn-lg btn-danger"  id="btn-class-3">3</div>
    <div class="btn btn-lg btn-default" id="btn-class-0">0</div>
  </div>

  <div>
    <form>
      <div class="btn btn-lg btn-warning" id="send-labels" style="margin: auto;">送信</div>
    </form>
  </div>
</div>

<div class="center jumbotron">
  <ul id="gallery">
    <% @image_cluster.images.each do |image| %>
    <li class="image-item" id="image-<%= image.id %>"><%= image_tag(image.url) %></li>
    <% end %>
  </ul>
</div>

<div id="user-info-storage" data-user-email='<%= current_user.email %>'></div>
<div id="image-cluster-info-storage" data-image-cluster='<%= @image_cluster.id %>'></div>
<div id="log-storage" data-log='[]'></div>
