<footer class="footer">
  <div class="center">
    <span><%= image_tag("/logo.png", width: 25, height: 25) %></span>
    <span>2019 <a href="http://xpaperchallenge.org/cv/">cvpaper.challenge</a></span>
  </div>
</footer>
